/* 파일명 : style.css */
@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture:400');
p#ec{ font-family: 'Black And White Picture'; }
p  {
    color: green;
  }
  
span{
    color:brown
}

.space{
    color: aquamarine;
}

#aa{
    color: aquamarine;
}

#bb{
    color: red
}